<%= form_for(category_event) do |f| %>
  <% if category_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_event.errors.count, "error") %> prohibited this category_event from being saved:</h2>

      <ul>
      <% category_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select(:event_id, @events, :id, :title, prompt:true) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, @categories, :id, :title, prompt:true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
