<!DOCTYPE html>
<html>
  <body>
    <div class="container">
        <h1 style="position: relative; padding-left: 80px;"><strong>Welcome to Student Event Calendar!</strong></h1>
    </div>
    <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Blog Post Content Column -->
                <div class="col-lg-8">
                    <!-- Blog Post -->
                    <!-- Title -->
                    <!-- <p><span class="glyphicon glyphicon-time"></span> <%= Time.now.strftime("%A, %B %d, %Y") %> </p> -->
                    <% @events.each do |event| %>
                    <div>
                    <h1><%= link_to event.title,event %></h1>
                    </div>

                    <!-- Author -->
                    <p class="lead">
                        by <a href="#"> SECalender </a>
                    </p>
                    <hr>

                    <!-- Date/Time -->

                    <% if event.start == '00:00:00' %>
                      <p><span class="glyphicon glyphicon-time"></span> TBA </p>
                    <% else %>
                      <p><span class="glyphicon glyphicon-time"></span><%= event.start %></p>
                    <% end %>
                    <hr>
                    <!-- Preview Image -->
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>


                    <!-- Post Content -->
                    <p class="lead"><%= event.description.html_safe %></p>

                    <hr>
                          <div class="well">
                              <h4>Leave a Comment:</h4>
                              <form role="form">
                                  <div class="form-group">
                                      <textarea class="form-control" rows="3"></textarea>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                  <div class="social-share-button"><%= social_share_button_tag(event.title) %></div>
                              </form>
                          </div>


                          <p><%= link_to "Like", like_event_path(event), method: :put, class: "btn btn-warning btn-xs"%></p>
                          <p class = "likes-count" ><%= event.get_upvotes.size %></p>

                    <% end %>

                    <hr>
                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <!-- <img class="media-object" src="http://placehold.it/64x64" alt=""> -->
                        </a>
                        <div class="media-body">
                            <!-- <h4 class="media-heading">Start Bootstrap -->
                                <!-- <small>August 25, 2014 at 9:30 PM</small> -->
                            </h4>
                            <!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
                        </div>
                    </div>
                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <!-- <img class="media-object" src="http://placehold.it/64x64" alt=""> -->
                        </a>
                        <div class="media-body">
                            <!-- <h4 class="media-heading">Start Bootstrap -->
                                <!-- <small>August 25, 2014 at 9:30 PM</small> -->
                            </h4>
                            <!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->

                            <!-- Nested Comment -->
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <!-- <img class="media-object" src="http://placehold.it/64x64" alt=""> -->
                                </a>
                                <div class="media-body">
                                    <!-- <h4 class="media-heading">Nested Start Bootstrap -->
                                        <!-- <small>August 25, 2014 at 9:30 PM</small> -->
                                    </h4>
                                    <!-- Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
                                </div>
                            </div>

                            <!-- End Nested Comment -->
                        </div>
                    </div>
                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">
                    <!-- Blog Search Well -->
                      <div class="well">
                        <h4>Event Search</h4>
                        <div class="input-group">
                            <%= form_tag root_path, :method => 'get' do %>
                            <%= text_field_tag :search, params[:search] %>
                            <%= submit_tag "Go" %>
                            <% end %>
                        </div>
                    <!-- <div class="well">
                      <h4>Event Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                                <span class="input-group-btn">
                                  <%= form_tag root_path, :method => 'get' do %>
                                  <%= text_field_tag :search, params[:search] %>
                                  <%= submit_tag "glyphicon glyphicon-search" %>
                                  <% end %>
                                  <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span
                                  </button>
                                </span>
                    </div> -->
                    <!-- /.input-group -->
                  </div>

                        <!-- /.input-group -->
                    <!-- </div> -->
                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Event Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sports</a>
                                    </li>
                                    <li><a href="#">Technology</a>
                                    </li>
                                    <li><a href="#">Arts</a>
                                    </li>
                                    <li><a href="#">Theater</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">News</a>
                                    </li>
                                    <li><a href="#">Politics</a>
                                    </li>
                                    <li><a href="#">Health</a>
                                    </li>
                                    <li><a href="#">Food</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <!-- <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div> -->
                </div>
            </div>

            <!-- /.row -->
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; SECalender 2017</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>
        <!-- /.container -->
        <!-- <footer style="width: 100%; height: 257.2px; background-color: #b84d45; padding: 50px 0; background-image: url(assets/bg.png);"></footer> -->

        <!-- jQuery -->
        <!-- <script src="js/jquery.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <!-- <script src="js/bootstrap.js"></script> -->
      </body>
</html>
