<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rsvp.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rsvp.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rsvp.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rsvp.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rsvp.end_time %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
